<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title" th:text="${board.title}"></h2>
                <p class="card-text"><small class="text-muted" th:text="${board.author} + ' - ' + ${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></small></p>
<!--
                <p class="card-text"><small class="text-muted" th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></small></p>
-->
                <hr>
                <br>
                <p class="card-text" th:text="${board.content}"></p>
                <br>
                <!-- 수정 , 삭제, 목록 이동 -->
                <form id="delete-form" th:action="@{'/post/' + ${board.id}}" method="post">
                    <div class="row mt-3">
                        <div th:if="${memberChk}">
                            <div class="col-auto">
                                <a class="btn btn-info" th:href="@{'/post/edit/' + ${board.id}}" role="button">수정</a>
                                <input type="hidden" name="_method" value="delete"/>
                                <button id="delete-btn" type="submit" class="btn btn-danger">삭제</button>
                            </div>
                        </div>
                        <div class="col-left mr-auto"></div>
                        <div class="col-auto">
                            <a class="btn btn-success" th:href="@{'/'}" role="button">목록</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <br>

        <!-- 댓글 등록 -->
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Comment</h6>
                <div class="form-group">
                    <form autocomplete="off" >
                        <input type="hidden" id="boardId" th:value="${board.id}">

                        <textarea class="form-control" id="comment" name="comment" placeholder="댓글을 남겨주세요." rows="3" required></textarea>
                        <div class="row mt-3">
                            <div class="col-auto mr-auto"></div>
                            <div class="col-auto">
                                <a class="btn btn-success" id="btn-save" >등록</a>
                            </div>
                        </div>
                        <hr>
                    </form>
                </div>

                <div id="commentTable">

                    <div th:if="${commentList != null} or ${commentList.size() !=0}" th:each="comment:${commentList}">
                        <div class="row mt-3">
                            <div class="col-auto" >
                                <p class="card-text"><b th:text="${comment.author}">Marco </b></p>
                            </div>

                            <button type="button" data-toggle="collapse" th:data-target="'.multi-collapse-'+${comment.commentId}" class="bi bi-pencil-square"></button>

                            <div class="col-left mr-auto"></div>
                            <div class="col-auto">
                                <p class="card-text text-muted" th:text="${#temporals.format(comment.createdDate, 'yyyy-MM-dd HH:mm')}">22</p>
                            </div>
                            <br>

                            <div class="col-lg-12">
                                <p th:class="'collapse multi-collapse-'+${comment.commentId}+' show'" th:text="${comment.comment}">
                                    Comment 내용
                                </p>
                                <p th:text="${comment.commentId}"></p>
                                <p th:text="${board.id}"></p>

                                <form th:class="'collapse multi-collapse-'+${comment.commentId}">
                                    <input type="hidden" id="id" th:value="${comment.commentId}">
                                    <input type="hidden" id="postsId" th:value="${board.id}">
                                    <div class="form-group">
                                        <textarea class="form-control" id="comment-content" rows="3" th:text="${comment.comment}"></textarea>
                                    </div>
                                    <button type="button" id="btn-update" class="btn btn-outline-success" value="comEdit"> 수정</button>
                                </form>
    <!--
                                <a th:href="@{'/post/' +${board.id}+ '/' + ${comment.commentId}}" class="btn btn-success" type="button">수정</a>
    -->

                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 등록된 댓글 없을 때때 -->
               <div th:if="${commentList == null} or ${commentList.size() ==0}">
                    <h5>등록된 댓글이 없습니다.</h5>
                </div>
            </div>
        </div>
   </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
    /*<![CDATA[*/

        window.onload = function () {
            var sa = document.getElementById("btn-save");
            sa.onclick = save;
        }

        function save(){
            alert("save 진입");

            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var data = {
                id: /*[[ ${board.id} ]]*/,
                comment: $('#comment').val(),
            }
            var url = '/post/' + data.id;

            alert("아작 시작");
            $.ajax({
                beforeSend: function(xhr){
                    xhr.setRequestHeader(header,token);
                },
                type: 'POST',
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(data)
            }).done(function () {
                alert("아작 끝");
                window.location.reload();
            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        };


/* ]]> */
</script>
</th:block>
</html>