<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="post : ${postList}">
                <th scope="row">
                    <span th:text="${post.id}"></span>
                </th>
                <td>
                    <a th:href="@{'/post/' + ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${post.author}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-success" th:href="@{/post}" role="button">글쓰기</a>
            </div>
        </div>
    </div>

    <nav style="text-align: center;">
        <ul class="pagination"
            th:with="start=${T(Math).floor(boardList.number/10)*10 + 1},
                    last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
            <li>
                <a th:href="@{/(page=1)}" aria-label="First">
                    <span aria-hidden="true">First</span>
                </a>
            </li>

            <li th:class="${boardList.first} ? 'disabled'">
                <a th:href="${boardList.first} ? '#' :@{/(page=${boardList.number})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>

            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'">
                <a th:text="${page}" th:href="@{/(page=${page})}"></a>
            </li>

            <li th:class="${boardList.last} ? 'disabled'">
                <a th:href="${boardList.last} ? '#' : @{/(page=${boardList.number + 2})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>

            <li>
                <a th:href="@{/(page=${boardList.totalPages})}" aria-label="Last">
                    <span aria-hidden="true">Last</span>
                </a>
            </li>
        </ul>
    </nav>


</div>


</html>