<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container">
<!--        <div>contents : <span th:text="${boardList.totalElements}"></span></div> -->
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">no.</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="board:${boardList}">
                <th scope="row">
                    <span th:text="${board.id}"></span>
                </th>
                <td>
                    <a th:href="@{'/post/' + ${board.id}}">
                        <span th:text="${board.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${board.author}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="page">
            <ul class="pagination justify-content-center pagination-green" >

                <!-- 이전 페이지 버튼 -->
                <li class="page-item" th:classappend="${1 == nowPage }? 'disabled'">
                    <a th:href="@{/(page=${nowPage -2})}" class="page-link">Prev</a>
                </li>

                <!-- 현재 페이지 및 블럭 -->
                <li class="page-item" th:classappend="${page == nowPage }? 'active'" th:each="page : ${#numbers.sequence(startPage, endPage)}">
                    <a th:if="${page!=0}" a th:href="@{/(page=${page-1})}" class="page-link" th:text="${page}" >1</a>
                    </a>
                </li>

                <!-- 다음 페이지 버튼-->
                <li class="page-item" th:classappend="${totalPages == nowPage }? 'disabled'">
                    <a th:href="@{/(page=${nowPage})}" class="page-link">Next</a>
                </li>

            </ul>
        </div>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-success" th:href="@{/post}" role="button">글쓰기</a>
            </div>
        </div>

    </div>
</div>