<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <div class="container">
        <table class="table">
            <thead class="thead-light">
            <tr class="text-center">
                <th scope="col">no.</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center" th:each="post : ${postList}">
                <th scope="row">
                    <span th:text="${post.id}"></span>
                </th>
                <td>
                    <a th:href="@{'/post/' + ${post.id}}">
                        <span th:text="${post.title}"></span>
                    </a>
                </td>
                <td>
                    <span th:text="${post.author}"></span>
                </td>
                <td>
                    <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <a class="btn btn-success" th:href="@{/post}" role="button">글쓰기</a>
            </div>
        </div>

    </div>

    <div class="page align-center">
        <ul class="pagination" >
            <li class="page-item">
                <a th:href="@{/}" aria-label="First" class="page-link">
                    <span aria-hidden="true">First</span>
                </a>
            </li>
            <!-- th:classappend="${curPageNum == pageNum+ 1} ? 'active'" -->
            <!-- 이전 페이지로 가기 버튼 -->

<!--            <li th:class="${pageNum.first} ? 'disabled'">-->
<!--                <a th:href="${pageNum.first} ? '#' :@{'/?page=' + ${pageNum}}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&lt;</span>-->
<!--                </a>-->
<!--            </li>-->

            <span th:each="pageNum : ${pageList}" th:inline="text">
                <li class="page-item" >
                    <a th:href="@{'/?page=' + ${pageNum}}" class="page-link"
                       >[[${pageNum}]]</a>
                </li>
                    <!--last 로 가기 -->
<!--                <li class="page-item">
                    <a th:href="@{'/?page=' + ${pageNum.totalLastPageNum}" aria-label="First" class="page-link">
                        <span aria-hidden="true">Last</span>
                    </a>
                </li> -->
            </span>
        </ul>
    </div>

                <!--    <div th:if="${!boardList.isEmpty()}">-->
<!--        <nav th:with="pageNumber = ${boardList.pageable.pageNumber},-->
<!--                pageSize = ${boardList.pageable.pageSize},-->
<!--                totalPages = ${boardList.totalPages},-->
<!--                startPage = ${T(Math).floor(pageNumber / pageSize) * pageSize + 1},-->
<!--                tempEndPage = ${startPage + pageSize - 1},-->
<!--                endPage = (${tempEndPage > totalPages ? totalPages : tempEndPage})"-->
<!--                aria-label="Page navigation"-->
<!--        >-->
<!--            <ul class="pagination ">-->

<!--                <li th:classappend="${pageNumber + 1 <= pageSize + 1} ? 'disabled'" class="page-item">-->
<!--                    <a class="page-link" th:href="@{/(page=1)}">-->
<!--                        <span>&laquo;</span>-->
<!--                        <span class="sr-only">First</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li th:classappend="${boardList.first} ? 'disabled'" class="page-item">-->
<!--                    <a class="page-link" th:href="${boardList.first} ? '#' : @{/(page=${#numbers.formatDecimal(startPage - pageSize, 0, -1)})}" aria-label="Previous">-->
<!--                        &lt;!&ndash; 개인적으로 int 로 변환하는 법을 몰라서 이렇게 길어졌습니다 &ndash;&gt;-->
<!--                        <span aria-hidden="true">&lt;</span>-->
<!--                        <span class="sr-only">Previous</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li th:each="page: ${#numbers.sequence(startPage, endPage)}" th:classappend="${page == pageNumber + 1} ? 'active'" class="page-item">-->
<!--                    <a th:text="${page}" class="page-link" th:href="@{/(page=${page})}"></a>-->
<!--                </li>-->

<!--                <li th:classappend="${boardList.last} ? 'disabled'" class="page-item">-->
<!--                    <a class="page-link" th:href="${boardList.last} ? '#' : @{/(page=${#numbers.formatDecimal(startPage + pageSize, 0, -1)})}" aria-label="Next">-->
<!--                        <span aria-hidden="true">&gt;</span>-->
<!--                        <span class="sr-only">Next</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li th:classappend=" ${T(Math).floor(totalPages/10)*10 <= startPage} ? 'disabled'" class="page-item">-->
<!--                    <a class="page-link" th:href="@{/(page=${totalPages})}">-->
<!--                        <span>&raquo;</span>-->
<!--                        <span class="sr-only">First</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

<!--    &lt;!&ndash;표에 사용될 변수값 초기화 &ndash;&gt;-->
<!--    <ul class="pagination" th:with="start=${T(Math).floor(list.number/10)*10 + 1}, last=(${start + 9 < list.totalPages ? start + 9 : list.totalPages})">-->
<!--        <th:block th:with="firstAddr=@{/(page=1)},-->
<!--                            prevAddr=@{/(page=${list.number})},-->
<!--                            nextAddr=@{/(page=${list.number + 2})},-->
<!--                            lastAddr=@{/(page=${list.totalPages})}">-->
<!--            <li>-->
<!--                <a th:href="${firstAddr}" aria-label="First">-->
<!--                    <span aria-hidden="true">First</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            &lt;!&ndash; 이전 페이지로 가기 버튼 &ndash;&gt;-->
<!--            <li th:class="${list.first} ? 'disabled'">-->
<!--                <a th:href="${list.first} ? '#' :${prevAddr}" aria-label="Previous">-->
<!--                    <span aria-hidden="true">&lt;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            &lt;!&ndash;1,2,3,4,.. 등 페이지&ndash;&gt;-->
<!--            <li th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == list.number + 1} ? 'active'">-->
<!--                <a th:text="${page}" th:href="@{/(page=${page})}"></a>-->
<!--            </li>-->
<!--            &lt;!&ndash;다음 페이지로 &ndash;&gt;-->
<!--            <li th:class="${list.last} ? 'disabled'">-->
<!--                <a th:href="${list.last} ? '#' : ${nextAddr}" aria-label="Next">-->
<!--                     <span aria-hidden="true">&gt;</span>-->
<!--                </a>-->
<!--            </li>-->
<!--            &lt;!&ndash;맨 마지막 페이지로 이동 &ndash;&gt;-->
<!--            <li>-->
<!--                <a th:href="${lastAddr}" aria-label="Last">-->
<!--                    <span aria-hidden="true">Last</span>-->
<!--                </a>-->
<!--            </li>-->
<!--        </th:block>-->
<!--    </ul>-->
<!--</nav>-->


</div>


</html>